.earphone-gray {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3rem;

    @media (min-width: 768px) and (max-width: 1024px) {
      gap: 1rem;
    }

    @media (min-width: 320px) and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__image {
    grid-column: 1 / 7;
    border-radius: 8px;

    & img {
      border-radius: 8px;
    }
  }

  &__info-container {
    background-color: $primary-grey;
    border-radius: 8px;
    display: grid;
    grid-column: 7 / -1;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }

  &__info {
    @include flexColumn;
    border-radius: 8px;
    gap: 3.2rem;
    grid-column: 2 / -1;

    @media (min-width: 320px) and (max-width: 767px) {
      margin-top: 4rem;
      margin-bottom: 4rem;
      align-items: start;
    }
  }
}
