.wrapper {
  background-color: $secondary-black;
}

.wrapper-secondary {
  background-color: #f2f2f2;
}

.container {
  max-width: 111rem;
  margin: 0 auto;
}

@media (min-width: 767px) and (max-width: 1080px) {
  .container {
    max-width: 70rem;
  }
}

@media (min-width: 320px) and (max-width: 766px) {
  .container {
    max-width: 32rem;
  }
}

.grid-col-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3rem;
  row-gap: 1.2rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .grid-col-12 {
    gap: 1rem;
  }
}

.grid-left {
  grid-column: 1 / span 6;
}

.grid-right {
  grid-column: 8 / -1;

  @media (min-width: 768px) and (max-width: 1024px) {
    grid-column: 7 / -1;
  }
}

.grid-left-2 {
  grid-column: 1 / span 5;
}

.grid-right-2 {
  grid-column: 7 / -1;
}

.goback {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.item-buttons {
  display: flex;
}

.margin-small {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
}

.margin-medium {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.margin-large {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .margin-large {
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
  }
  .margin-small {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .margin-large {
    margin-top: 9.2rem;
    margin-bottom: 9.2rem;
  }
}

.margin-reset {
  margin-top: 0;
  margin-bottom: 4.8;
}

.margin-left {
  margin-left: 1.6rem;
}

.block {
  display: block;
}

.background-container {
  background-color: #f2f2f2;
}
