@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flexSpaceBetween($direction) {
  display: flex;
  justify-content: space-between;
  flex-direction: $direction;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin gridPrimary {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: center;
}
