.single-item {
  &__container-grid {
    @include gridPrimary;
    column-gap: 3rem;
    row-gap: 1.2rem;
    margin: 0 auto;

    @media (min-width: 320px) and (max-width: 743px) {
      @include flexColumn;
      gap: 4rem;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 16rem;

    @media (min-width: 744px) and (max-width: 1024px) {
      @include flexColumn;
      gap: 12rem;
      margin-bottom: 12rem;
    }

    @media (min-width: 320px) and (max-width: 743px) {
      @include flexColumn;
      gap: 8rem;
      margin-bottom: 8.8rem;
    }
  }
  &__features,
  &__inthebox {
    @include flexColumn;
    gap: 3.2rem;
  }

  &__features {
    grid-column: 1/8;
  }

  &__inthebox {
    grid-column: 9/-1;

    @media (min-width: 744px) and (max-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      padding-right: 14rem;
    }
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3.2rem;
  margin-bottom: 16rem;

  @media (min-width: 744px) and (max-width: 1024px) {
    gap: 2rem;
  }

  @media (min-width: 320px) and (max-width: 743px) {
    display: flex;
    flex-direction: column;
  }
}
.gallery-image-1 {
  grid-column: 1/6;
}

.gallery-image-2 {
  grid-column: 1/6;
}

.gallery-image-3 {
  grid-column: 6/-1;
  grid-row: 1 / -1;
}

.gallery-photo {
  border-radius: 8px;
}
