.audiophile-container {
  @include gridPrimary;
  column-gap: 3rem;
  row-gap: 1.2rem;
  margin: 0 auto;

  @media (min-width: 320px) and (max-width: 1024px) {
    @include flexCenter(column);
    gap: 3rem;
  }
}

.audiophile-description__info {
  @media (min-width: 744px) and (max-width: 1024px) {
    order: 2;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media (min-width: 320px) and (max-width: 1024px) {
    order: 2;
    text-align: center;
  }
}

.audiophile-description__image {
  @media (min-width: 744px) and (max-width: 1024px) {
    order: 1;
    margin-bottom: 4rem;
  }
}
